@mixin agregarFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin imagenFondo($url) {
    background-image: url($url);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin fuente($fuente, $tamano, $weight) {
    font-family: $fuente;
    font-size: $tamano;
    font-weight: $weight;
}

@mixin spanFondo($url){
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url($url);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}